<app-navbar></app-navbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        <mat-nav-list>
            <a mat-list-item routerLink="/mytasks" class="list-group-item border-end-0 d-inline-block text-truncate"
                data-bs-parent="#sidebar"><i class="bi bi-person-lines-fill"></i> <span> My Tasks</span> </a>
            <a mat-list-item routerLink="/patienttasks"
                class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i
                    class="bi bi-clipboard2-pulse"></i> <span> Patient Tasks</span></a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="col col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle();">
                <mat-icon>
                    <FONT COLOR="#0000">menu </FONT>
                </mat-icon>
            </button>
        </mat-toolbar>
        <div style="height: 88vh;">
            <router-outlet> </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>